@import "tailwindcss";

@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; 
}

*{
  font-family: "Jost", sans-serif;
}

span{
  font-family: inherit;
  font-weight: inherit;
}

.redShadow:hover{
  transform: scale(1.1);
}
